.wrapper {
   --margin: 50px;
   --margin-bonus: 25px;

   & + & {
      margin-top: 10px;
   }
}

.title {
   font-size: 3.6rem;
   font-weight: 700;
   text-align: center;
}

.sub-title {
   display: block;
   text-align: center;
   font-size: 1.5rem;
}

.content-wrapper {
   margin: var(--margin) 0;
   margin-bottom: calc(var(--margin) + var(--margin-bonus));
}

.container-grid {
   background: transparent;
}

@media (max-width: 985px) {
   .content-wrapper {
      padding: 0 20px;
   }
}

@media (max-width: 767px) {
   .title {
      font-size: 2.4rem;
   }

   .sub-title {
      font-size: 1.4rem;
   }
}
