.wrapper {
   --padding-height: 11.5px;
   display: flex;
   align-items: center;
   padding: 0 var(--spacing-padding);
   background: white;
   border: 1px solid #dce0e0;
   border-radius: 5px;
}

.icon {
   display: block;
   flex-shrink: 0;
   color: black;
}

.right-icon {
   margin-right: 10px;
}

.select-main {
   flex: 1;
   padding: var(--padding-height) 20px var(--padding-height) 10px;
   border: none;
   outline: none;
   font-size: 1.5rem;
   border-radius: inherit;

   option {
      padding: 0 2px 1px 2px;
   }
}

.appearanceNone {
   -webkit-appearance: none;
   appearance: none;
}
