@media (min-width: 576px) {
   .Header_container-grid__eZZHO.grid.wide {
      max-width: 960px;
      padding: 0 30px;
   }
}

@media (min-width: 768px) and (max-width: 960px) {
   .Header_container-grid__eZZHO.grid.wide {
      max-width: 960px;
      padding: 0 30px;
   }
}

@media (min-width: 960px) and (max-width: 1099px) {
   .Header_container-grid__eZZHO.grid.wide {
      max-width: 960px;
      padding: 0 30px;
   }
}

@media (min-width: 992px) {
   .Header_container-grid__eZZHO.grid.wide {
      max-width: 960px;
      padding: 0;
   }
}

@media (max-width: 767px) {
   .Header_container-grid__eZZHO.grid.wide {
      max-width: 960px;
      padding: 0 30px;
   }
}

@media (min-width: 1200px) {
   .Header_container-grid__eZZHO.grid.wide {
      max-width: 1425px;
      padding: 0 90px;
   }
}

@media (min-width: 1400px) {
   .Header_container-grid__eZZHO.grid.wide {
      max-width: 1425px;
      padding: 0 90px;
   }
}
